@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body{
    font-family: 'Roboto', sans-serif;

    .Appli{
        button{
            position: fixed;
            bottom: 30px;
            right: 30px;
        }
    }
}