.Entete{
    width: 100%;
    background-color: #333333;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:5px 0;

    .logo{
        margin-left: 10px;
    }
    .avatar{
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: 15px;

        :first-child{
            margin-left: 5px;
        }
    }
}