.ListeDossiers{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style-type: none;
    margin-top: 40px;
    margin-left: -20px;
    padding-inline-start: 0;

    li{
        margin-left: 20px;
        margin-bottom: 25px;
    }
}